.u-tooltip {
  display: inline-flex;
}
.u-tooltip .u-tooltip__trigger {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.u-tooltip .u-tooltip__trigger .u-tooltip__trigger-content {
  width: inherit;
  height: inherit;
  display: inline-block;
  opacity: 0;
}
.u-tooltip .u-tooltip__popper {
  position: relative;
  text-align: center;
  z-index: var(--uc-z-index-tooltip);
  font-size: var(--uc-font-size-base);
  border-radius: var(--uc-border-radius-2);
  border: var(--uc-border-width-2) solid var(--uc-border-1);
}
.u-tooltip.u-tooltip--dark {
  top: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  right: -0.1rem;
}
.u-tooltip.u-tooltip--dark .u-tooltip__popper {
  color: var(--uc-text-7);
  background-color: var(--uc-background-dark-2);
}
.u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=top] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=top-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=top-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
          clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  background-color: var(--uc-background-dark-2);
  width: 0.8rem;
  height: 0.4rem;
  top: 100%;
}
.u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=bottom] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=bottom-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=bottom-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--uc-background-dark-2);
  width: 0.8rem;
  height: 0.4rem;
  bottom: 100%;
}
.u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=left] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=left-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=left-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
          clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  background-color: var(--uc-background-dark-2);
  width: 0.8rem;
  height: 0.4rem;
  left: 100%;
}
.u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=right] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=right-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--dark .u-tooltip__popper[data-popper-placement=right-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: var(--uc-background-dark-2);
  width: 0.8rem;
  height: 0.4rem;
  right: 100%;
}
.u-tooltip.u-tooltip--light .u-tooltip__popper {
  color: var(--uc-text-1);
  background-color: var(--uc-background-1);
  box-shadow: var(--uc-shadow-4);
}
.u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=top] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=top-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=top-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
          clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  background-color: var(--uc-background-1);
  width: 0.8rem;
  height: 0.4rem;
  top: 100%;
}
.u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=bottom] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=bottom-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=bottom-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--uc-background-1);
  width: 0.8rem;
  height: 0.4rem;
  bottom: 100%;
}
.u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=left] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=left-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=left-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
          clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
  background-color: var(--uc-background-1);
  width: 0.8rem;
  height: 0.4rem;
  left: 100%;
}
.u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=right] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=right-start] .u-tooltip__popper--arrow, .u-tooltip.u-tooltip--light .u-tooltip__popper[data-popper-placement=right-end] .u-tooltip__popper--arrow {
  -webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
          clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  background-color: var(--uc-background-1);
  width: 0.8rem;
  height: 0.4rem;
  right: 100%;
}

/* Transition component fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--uc-animation-delay-5);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}/*# sourceMappingURL=index.css.map */