.u-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;

  & > * {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
  }

  .u-region__left,
  .u-region__right,
  .u-region__top,
  .u-region__bottom {
   flex-shrink: 0;
  }

  .u-region__top,
  .u-region__bottom {
    width: 100%;
  }

  .u-region__center {
    flex: 1;
    flex-grow: 1;
  }
}

.u-layout__horizontal {
  flex-direction: row;
}

.u-layout__vertical {
  display: grid;
  flex-direction: unset;
}

.u-layout__fit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}